page-category {
    
    .ok{
        text-align: center;
        width: 100%;
    }
    td{
        text-align: center;
        // border: 1px solid orange;
    }
    table{
        width:100%;
        height: 90%;
    }
    .icon{
        font-size: 50px;
    }
    #foto{
        background-image: url('../assets/imgs/SHI.png');
        background-repeat:no-repeat;
        background-size:160px 160px;
        background-position: center;     
    }

}
