page-list {
    .icons{
        font-size: 30px;
    }
    .center{
        text-align: center;
    }
    .ok2{
        display: inline-block;
    }
    .right{
        text-align: center;
    }
    $colors: (
        carbirol: #7badef
    )
    
    
}
